    /* Import */
    @import url('https://fonts.googleapis.com/css?family=Lato');
    @import url('https://fonts.googleapis.com/css?family=Montserrat');

    /* Variables */
    /* Base */
    body {
      background-color: #D2D4D8;
      font-size: 16px;
      margin: 0;
    }

    html,
    body {
      height: 100%;
      overflow: hidden;
    }

    strong {
      font-weight: 600;
    }

    h1 {
      font-family: 'Lato', sans-serif;
      letter-spacing: 1.5px;
      color: white;
      padding: 25px 0;
      margin: 0;
      font-weight: 100;
      font-size: 2.4em;
    }

    .title {
      font-weight: bold;
    }

    #content {
      position: relative;
      box-sizing: border-box;
      padding: 90px 0 0 0;
      background-color: white;
      text-align: center;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      max-width: 900px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      /* MDL Shadow */
    }

    #content .top-bar {
      height: 90px;
      position: absolute;
      top: 0;
      width: 100%;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      background-color: #EA1E63;
    }

    .main-content {
      box-sizing: border-box;
      margin: 0 auto;
      width: 100%;
      height: calc(100% - 90px);
      top: 90px;
      position: absolute;
      overflow-y: auto;
    }

    .main-content .end-point {
      height: 5px;
      width: 100%;
      background-color: #00D4FF;
      display: block;
      position: relative;
      float: left;
    }

    .main-content ul {
      position: relative;
    }

    /* Timeline */
    .timeline {
      box-sizing: border-box;
      width: 100%;
      border-left: 2px dotted #00FFFF;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      background: rgba(255, 255, 255, 0.03);
      color: #4a4a4a;
      font-family: 'Roboto', 'Montserrat', sans-serif;
      margin: 0 auto;
      letter-spacing: 0.5px;
      position: relative;
      line-height: 1.4em;
      font-size: 1.03em;
      padding: 20px 10px 20px 30px;
      list-style: none;
      text-align: left;
      font-weight: 100;
      float: left;
    }

    .timeline h1,
    .timeline h2,
    .timeline h3 {
      font-family: 'Lato', sans-serif;
      letter-spacing: 1.5px;
      font-weight: 100;
      font-size: 1.4em;
    }

    .day {
      font-family: 'Lato', sans-serif;
      letter-spacing: 1.5px;
      font-weight: 100;
      font-size: 1.4em;
      text-transform: uppercase;
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      color: #47413F;
      font-weight: bold;
    }

    .timeline .event {
      padding-bottom: 25px;
      margin-bottom: 0;
      position: relative;
      box-sizing: border-box;
      display: block;
      width: 100%;
    }

    .timeline .event .card-content {
      left: 217.5px;
      position: relative;
      width: calc(100% - 217.5px);
    }

    .timeline .event .card-content h3 {
      margin-top: 0;
      margin-bottom: .5em;
      color: #47413F;
    }

    .timeline .event .card-content p {
      margin-bottom: 0;
      margin-top: 5px;
      line-height: 1em;
      color: #C8CAC9;
    }

    .timeline .event:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    .timeline .event:before,
    .timeline .event:after {
      position: absolute;
      display: block;
      top: 0;
    }

    .timeline .event:before {
      left: 0px;
      color: #47413F;
      content: attr(data-date);
      font-weight: bold;
      font-size: 0.9em;
      min-width: 150px;
      max-width: 150px;
    }

    .timeline .event:after {
      box-shadow: 0 0 0 4px #00D4FF;
      left: -37px;
      background: white;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      content: "";
      top: 5px;
    }

    @media screen and (min-width: 0px) {
      .main-content {
        padding: 0 20px;
      }

      .timeline .event .card-content {
        margin-top: 0px;
        padding-top: 50px;
        left: 0;
        position: relative;
        width: 100%;
      }

      .timeline .event:befor {
        text-align: left;
      }
    }

    @media screen and (min-width: 550px) {
      .timeline .event {
        float: left;
      }

      .timeline .event .card-content {
        padding-top: 0;
        width: calc(100% - 217.5px);
        float: right;
        display: block;
        margin-left: 0;
      }

      .timeline .event:before {
        text-align: right;
      }
    }

    @media screen and (min-width: 650px) {
      .main-content {
        padding: 0 100px;
      }
    }

    /* Custom Scrollbar */
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
      border-radius: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #DCDCDC;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #EA1E63;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }