* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100vh;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.main-iframe {
    flex-grow: 1;
    border: none;
}

.add-schedule-form {
    width: 20em;
    border: solid 1px #e5e5e5;
    background-color: #fff;
    box-shadow: 1px 1px 5px #ddd;
    padding: 1em;
    display: grid;
    grid-template-rows: 8;
    grid-template-columns: 2;
    grid-template-columns: auto 15em;
    grid-template-areas: "title title" "label1 input1" "label2 input2" "label3 input3" "label4 input4" "label5 input5" "label6 label6" "input6 input6" "submit null";
}

.add-schedule-form>h4 {
    grid-area: title;
}
.add-schedule-form>textarea {
    grid-area: input6;
}

.add-schedule-form>input, .add-schedule-form>textarea { 
    width: 15em;
    border: solid 1px #e5e5e5;
    background-color: #fff;
    box-shadow: 1px 1px 5px #ddd;
    padding: .7em;
    margin: .5em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
}