<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Schedule Administration | FOSSMeet'19</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <main>
        <form action="{{site_root_dir}}/admin/login" method="POST">
            <h4> Login </h4>
            User ID: <input type="text" name="user_id"> <br/>
            Password: <input type="password" name="password"> <br/>
            <button>Submit</button>
        </form>
    </main>
</body>
</html>