<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{{ site_root_dir }}/static/schedules.css">
</head>

<body>
  <div id="content">
    <div class="top-bar">
      <h1 class="title">SCHEDULE</h1>
    </div>
    <div class="main-content">
      {% for day in days %}
      <h3 class="day">{{ day.title }}</h3>
      <div class="end-point"></div>
      <ul class="timeline">
        <!-- These list elements are the repeating cards -->
        {% for event in day.events %}
        <li class="event" data-date="{{ event.time }}">
          <div class="card-content">
            <h3>{{ event.title }}</h3>
            <h4>{{ event.venue }}</h4>
            <p>{{ event.description }}</p>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>

</body>

</html>