<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{site_root_dir}}/static/schedules.css">
    <link rel="stylesheet" type="text/css" href="{{site_root_dir}}/static/schedules_admin.css">
</head>

<body>
    <aside>
        <div class="header">
            <h1>Schedules Admin</h1>
            <form action="{{site_root_dir}}/admin/logout" method="POST">
                <button class="logout-btn">Logout</button>
            </form>
        </div>
        <form action="{{site_root_dir}}/admin/schedule_add" method="POST" enctype="multipart/form-data" class="add-schedule-form">
            <h4>Add Schedule</h4>
            Title: <input type="text" name="title" value="{{s.title}}"> <br />
            Speaker: <input type="text" name="speaker" value="{{s.speaker}}"> <br />
            Venue: <input type="text" name="venue" value="{{s.venue}}"> <br />
            Day Number: <input type="text" name="day_number"> <br />
            Time: <input type="time" name="time" type="time" value="{{s.time}}"> <br />
            Description: <br>
            <textarea name="description">{{s.description}}</textarea><br />
            <!-- Speaker Image: <input type="file" name="speaker_img"><br> -->
            <button>Submit</button>
        </form>
    </aside>

    <!-- List schedules -->
    <div id="content">
        <div class="top-bar">
            <h1 class="title">SCHEDULE</h1>
        </div>
        <div class="main-content">
            {% for day in days %}
            <h3 class="day">{{ day.title }}</h3>
            <div class="end-point"></div>
            <ul class="timeline">
                <!-- These list elements are the repeating cards -->
                {% for event in day.events %}
                <li class="event" data-date="{{ event.time }}">
                    <div class="card-content">
                        <h3>{{ event.title }}</h3>
                        <h4>{{ event.venue }}</h4>
                        <p>{{ event.description }}</p>
                        <form action="{{site_root_dir}}/admin/schedule_delete" method="POST">
                            <input type="hidden" name="id" value="{{ event.id }}">
                            <button class="delete-btn">Delete</button>
                        </form>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</body>
</html>